# Dependencies
node_modules
/node_modules

# Compiled TypeScript files
/packages/orchestrator-host/dist
/packages/salesforce-mcp-server/dist
/packages/auth-mcp-server/dist
/packages/ease-mcp-server/dist
/packages/ease-mcp-server/node_modules

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build output
/dist

# Environment variables
.env
.env.local

# --- Token Storage --- #
token-storage.json


# ... other entries
**/dist
**/node_modules
# ... other entries
